@model OnlineQuiz.Models.QuizViewModel

@{
    ViewData["Title"] = "StartQuiz";
}

<script src="~/js/timer.js"></script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_QuizScriptsPartial", Model);
    }
}
<h1 class="d-flex accordion-header justify-content-around">@Model.QuizName</h1>
<hr />
<form id="quizForm" action="submitquiz" method="post" class="form-control">
    <div class="d-flex justify-content-center">
        <div id="countdown" class="display-4"></div>
    </div>
    <hr />
    <div class="d-flex justify-content-around">
        <div class="nav nav-pills">
            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <a id="Navquestion@(i)" class="nav-link Navquestion" href="#question@(i)">Question @(i + 1)</a>
            }
        </div>
        
    </div>
    <hr />
    <input type="hidden" id="currentQuestionIndex" name="currentQuestionIndex" value="0">
    <input type="hidden" id="totalQuestions" name="totalQuestions" value="@Model.Questions.Count">
    <div>
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div id="question@(i)"
            style="display: @(i == Model.CurrentQuestionIndex ? "" : "none")">
                <h4>Question @(i + 1)</h4>
                <hr />
                <p>@(i + 1). @Model.Questions[i].QuestionText</p>
                <input asp-for=@Model.Questions[i].QuestionId type="hidden" />
                @foreach (var option in @Model.Options.Where(x => x.QuestionId == @Model.Questions[i].QuestionId))
                {
                    <dl class="row" style="display: flex; flex-wrap: nowrap;">
                        <dd class="col-sm-12 float-left">
                            <input type="radio" name="selectedOptionId_@(i)" value="@option.OptionId"
                        id="option@(option.OptionId)">
                            <label for="option@(option.OptionId)">@option.OptionText</label>
                        </dd>
                    </dl>
                }

        </div>
        }
    </div>


    <div class="row">
        <div class="col-4">
            <div class="d-flex justify-content-start">
                <button id="previous-button" type="button" class="btn btn-primary align-content-center ml-auto">Previous</button>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <button id="submit" method="post" asp-action="SubmitQuiz" asp-controller="Quiz" class="btn btn-outline-warning align-items-center">Submit</button>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <button id="next-button" type="button" class="btn btn-primary align-content-center mr-auto">Next</button>
            </div>
        </div>
    </div>
   
    
    
    
    <div>@Html.AntiForgeryToken()</div>
</form>