@model OnlineQuiz.Models.Questions

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuizCategoryId)
        </dt>
        <dd class = "col-sm-10">
            @(((QuizCategory)Model.QuizCategoryId).ToDescription())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionStatus)
        </dt>
        <dd class = "col-sm-10">
            @(Model.QuestionStatus ? "Active" : "Inactive")
        </dd>
    </dl>
</div>
<section id="question">
    <h4>Question</h4>
    <hr />
    <div class="row">
        <div class="col-sm-9">
            <p>Model.QuestionText</p>
        </div>
    </div>
    @foreach (var option in Model.Options)
    {
        <dl class="row" style="display: flex; flex-wrap: nowrap;">
            <dd class="col-sm-9 float-left">
                <input type="radio" name="optionId" value="@option.OptionId"
                   id="option@(option.OptionId)" disabled />
                <label for="option@(option.OptionId)">@option.OptionText</label>
            </dd>
        </dl>
    }

</section>
<div>
    <a class="btn btn-primary" asp-action="UpdateQuestionDetail" asp-route-QuestionId="@Model?.QuestionId">Edit</a>
    <a class="btn btn-danger" asp-action="EditQuestions">Back</a>
</div>
